:root{
    --fc-pri: #fff;
    --fc-accent: #f1c27d;
    /* 241, 194, 125 */
    --fc-dark: #111;
    --fc-brown : #555555;
    --fc-acc-light :#ffdbac;
    --fc-dark-pri: #eee;
    /* #7cc576; */
    
    }
    .overlay-image{
        background: url("../images/parallax.png")  repeat;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
h2{
    text-transform: uppercase;
    font-size:40px !important;
    font-weight: bold;
}

h3{
    text-transform: uppercase;
    font-size:32px !important;
    /* font-weight: bold; */
}
#team-page {
    box-shadow: none;
    position: relative;
    background: linear-gradient(rgba(1,1,1,.4),rgba(1,1,1,.4)), url("../images/background.jpg") no-repeat fixed;
}
#team-page span{
    color: var(--fc-accent);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--fc-accent);
    /* border-color: #108d6f; */
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    font-size: large;
    background-color: var(--fc-accent);
    /* border-color: #007b5e; */
    position:absolute;
    bottom: -3%;
    right: -3%;
}

#team-page .backside .card:hover {
    z-index: 5;
}
#team-page .frontside .card{
    z-index: 0;
}
#team-page .card {
    
    max-width: 400px;
    background: transparent;
    border: 2px var(--fc-accent) solid;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
    
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 426px;
}

.backside .card a {
    font-size: 1.5rem;
    color: var(--fc-accent)
}
.backside .card a:hover {
    
    color: var(--fc-acc-light)
}


.frontside .card .card-title,
.backside .card .card-title {
    color: var(--fc-pri);
}

.frontside .card .card-body img {
    width: 300px;
    height: auto;
    
    border-radius: 50%;
}

@media(min-width:768px)
{
    .frontside .card .card-body img {
        width: 300px;
        height: auto;
        
        border-radius: 50%;
    }
}
@media(min-width:992px)
{
    .frontside .card{
        margin-bottom: 0;
    }
}

@media (max-width:575px) and (min-width:50px)
{
  .section-title h1{
    font-size: 32px !important;
  }
}
.btn-primary {
    color: #fff;
    
    border-color: var(--fc-pri) !important;
}